[Desktop Entry]
Type=Application
Name=mdeus
Comment=Read a markdown document in your browser, and edit it there
Exec=mdeus %f
Terminal=false
Icon=mdeus
MimeType=text/markdown;text/x-markdown;
